@font-face {
  font-family: 'geo-my-wp';
  src: url('../font/geo-my-wp.eot?16227729');
  src: url('../font/geo-my-wp.eot?16227729#iefix') format('embedded-opentype'),
       url('../font/geo-my-wp.woff2?16227729') format('woff2'),
       url('../font/geo-my-wp.woff?16227729') format('woff'),
       url('../font/geo-my-wp.ttf?16227729') format('truetype'),
       url('../font/geo-my-wp.svg?16227729#geo-my-wp') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'geo-my-wp';
    src: url('../font/geo-my-wp.svg?16227729#geo-my-wp') format('svg');
  }
}
*/
 
 [class^="gmw-icon-"]:before, [class*=" gmw-icon-"]:before {
  font-family: "geo-my-wp";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.gmw-icon-spin-3:before { content: '\e800'; } /* '' */
.gmw-icon-spin:before { content: '\e801'; } /* '' */
.gmw-icon-spin-1:before { content: '\e802'; } /* '' */
.gmw-icon-spin-2:before { content: '\e803'; } /* '' */
.gmw-icon-heart:before { content: '\e804'; } /* '' */
.gmw-icon-heart-empty:before { content: '\e805'; } /* '' */
.gmw-icon-star:before { content: '\e806'; } /* '' */
.gmw-icon-star-empty:before { content: '\e807'; } /* '' */
.gmw-icon-male:before { content: '\e808'; } /* '' */
.gmw-icon-lock:before { content: '\e809'; } /* '' */
.gmw-icon-lock-open-alt:before { content: '\e80a'; } /* '' */
.gmw-icon-flag:before { content: '\e80b'; } /* '' */
.gmw-icon-flag-empty:before { content: '\e80c'; } /* '' */
.gmw-icon-pencil:before { content: '\e80d'; } /* '' */
.gmw-icon-location-1:before { content: '\e80e'; } /* '' */
.gmw-icon-direction:before { content: '\e80f'; } /* '' */
.gmw-icon-doc:before { content: '\e810'; } /* '' */
.gmw-icon-doc-text:before { content: '\e811'; } /* '' */
.gmw-icon-doc-text-inv:before { content: '\e812'; } /* '' */
.gmw-icon-fax:before { content: '\e813'; } /* '' */
.gmw-icon-menu:before { content: '\e814'; } /* '' */
.gmw-icon-cog-alt:before { content: '\e815'; } /* '' */
.gmw-icon-wrench:before { content: '\e816'; } /* '' */
.gmw-icon-exchange:before { content: '\e817'; } /* '' */
.gmw-icon-target-small:before { content: '\e818'; } /* '' */
.gmw-icon-key:before { content: '\e819'; } /* '' */
.gmw-icon-cab:before { content: '\e81a'; } /* '' */
.gmw-icon-bus:before { content: '\e81b'; } /* '' */
.gmw-icon-bicycle:before { content: '\e81c'; } /* '' */
.gmw-icon-puzzle:before { content: '\e81d'; } /* '' */
.gmw-icon-lifebuoy:before { content: '\e81e'; } /* '' */
.gmw-icon-address:before { content: '\e81f'; } /* '' */
.gmw-icon-map-big:before { content: '\e820'; } /* '' */
.gmw-icon-clock:before { content: '\e821'; } /* '' */
.gmw-icon-monitor:before { content: '\e822'; } /* '' */
.gmw-icon-github:before { content: '\e823'; } /* '' */
.gmw-icon-twitter:before { content: '\e824'; } /* '' */
.gmw-icon-facebook:before { content: '\e825'; } /* '' */
.gmw-icon-facebook-squared:before { content: '\e826'; } /* '' */
.gmw-icon-gplus:before { content: '\e827'; } /* '' */
.gmw-icon-vcard:before { content: '\e828'; } /* '' */
.gmw-icon-location-outline:before { content: '\e829'; } /* '' */
.gmw-icon-location:before { content: '\e82a'; } /* '' */
.gmw-icon-map:before { content: '\e82b'; } /* '' */
.gmw-icon-target-light:before { content: '\e82c'; } /* '' */
.gmw-icon-search:before { content: '\e82d'; } /* '' */
.gmw-icon-mail:before { content: '\e82e'; } /* '' */
.gmw-icon-mail-circled:before { content: '\e82f'; } /* '' */
.gmw-icon-user:before { content: '\e830'; } /* '' */
.gmw-icon-group:before { content: '\e831'; } /* '' */
.gmw-icon-ok:before { content: '\e832'; } /* '' */
.gmw-icon-ok-circled:before { content: '\e833'; } /* '' */
.gmw-icon-cancel:before { content: '\e834'; } /* '' */
.gmw-icon-cancel-circled:before { content: '\e835'; } /* '' */
.gmw-icon-lock-big:before { content: '\e836'; } /* '' */
.gmw-icon-error:before { content: '\e837'; } /* '' */
.gmw-icon-error-alt:before { content: '\e838'; } /* '' */
.gmw-icon-compass:before { content: '\e839'; } /* '' */
.gmw-icon-phone:before { content: '\e83a'; } /* '' */
.gmw-icon-phone-circled:before { content: '\e83b'; } /* '' */
.gmw-icon-resize-full:before { content: '\e83c'; } /* '' */
.gmw-icon-resize-small:before { content: '\e83d'; } /* '' */
.gmw-icon-target:before { content: '\e83e'; } /* '' */
.gmw-icon-globe:before { content: '\e83f'; } /* '' */
.gmw-icon-person:before { content: '\e840'; } /* '' */
.gmw-icon-mail-light:before { content: '\e841'; } /* '' */
.gmw-icon-mobile:before { content: '\e842'; } /* '' */
.gmw-icon-ok-light:before { content: '\e843'; } /* '' */
.gmw-icon-cancel-light:before { content: '\e844'; } /* '' */
.gmw-icon-folder-open:before { content: '\e845'; } /* '' */
.gmw-icon-folder:before { content: '\e846'; } /* '' */
.gmw-icon-tags:before { content: '\e847'; } /* '' */
.gmw-icon-tag:before { content: '\e848'; } /* '' */
.gmw-icon-params:before { content: '\e849'; } /* '' */
.gmw-icon-cog:before { content: '\e84a'; } /* '' */
.gmw-icon-pinboard:before { content: '\e84b'; } /* '' */
.gmw-icon-link:before { content: '\e84c'; } /* '' */
.gmw-icon-info-circled:before { content: '\e84d'; } /* '' */
.gmw-icon-info:before { content: '\e84e'; } /* '' */
.gmw-icon-info-circled-1:before { content: '\e84f'; } /* '' */

/*
   Animation example, for spinners
*/
.animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
