/** GEO my WP admin stylesheet */
#toplevel_page_gmw-add-ons .wp-menu-image::before {
	content: "\f230" !important;
	color: rgb(179, 223, 193) !important;
}

.gmw-credits {
	float: right;
	margin-top: 6px;
	min-width: 520px;
}

.gmw-credits img {
	float: left;
	margin-right: 5px;
}

.gmw-credits a:link {
	vertical-align: top;
	float: left;
	font-size: 12px;
	text-decoration: none;
}

.gmw-credits-facebook-button {
	width: 24px;
	height: 24px;
	display: block-inline;
	text-indent: -9999px;
	margin-right: 5px;
	margin-bottom: 5px;
	float: left;
	position: relative;
	filter: alpha(opacity = 60);
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
	opacity: 0.6;
	background:
		url('https://geomywp.com/wp-content/themes/geo-my-wp/images/UI-Elements.png');
	background-position: -30px -106px;
}

.gmw-credits-twitter-button {
	width: 24px;
	height: 24px;
	display: block-inline;
	text-indent: -9999px;
	margin-right: 5px;
	margin-bottom: 5px;
	float: left;
	position: relative;
	filter: alpha(opacity = 60);
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
	opacity: 0.6;
	background:
		url('https://geomywp.com/wp-content/themes/geo-my-wp/images/UI-Elements.png');
	background-position: -59px -105px;
}

.gmw-credits-email-button {
	width: 24px;
	height: 24px;
	display: block-inline;
	text-indent: -9999px;
	margin-right: 5px;
	margin-bottom: 5px;
	float: left;
	position: relative;
	filter: alpha(opacity = 60);
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
	opacity: 0.6;
	background:
		url('https://geomywp.com/wp-content/themes/geo-my-wp/images/UI-Elements.png');
	background-position: -439px -106px;
}

.gmw-credits-addons-button {
	padding: 1px 6px;
	background: #7FA97F;
	float: left;
	margin-right: 5px;
	color: white;
	font-size: 12px !important;
	margin-top: 2px
}

.gmw-credits-addons-button :hover {
	color: white !important;
}

.gmw-wrap-top-h2 {
	margin-bottom: 20px !important;
}
/********** Add-ons Page **********/
li.gmw-single-addon-wrapper {
	float: left;
	width: 320px;
	margin-right: 20px;
	background: #fdfdfd;
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
	margin-bottom: 15px;
}

.gmw-addons-page-top-buttons {
	padding: 8px 7px;
	margin-top: -1px;
	float: left;
	margin-right: 7px;
	font-size: 14px;
	color: #333;
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
	margin-bottom: 15px;
}

.gmw-addon-license-wrapper {
	height: 30px;
	overflow: hidden;
	padding: 9px 7px;
	border-top: 1px solid #e5e5e5;
	position: relative;
}

h2.gmw-addon-title {
	padding: 10px;
	font-size: 19px;
}

div.gmw-addon-image-wrapper {
	padding: 3px;
}

.gmw-addon-image-wrapper img {
	width: 100%;
	height: auto;
}

.gmw-addon-content-wrapper {
	position: relative;
	border-top: 1px solid #e6e6e6;
}

div.gmw-addon-desc-wrapper {
	padding: 0 10px 10px;
	min-height: 30px;
	position: absolute;
	top: 10px;
	display: none;
	color: #444;
	font-size: 14px;
}

.gmw-addon-activate {
	background: #E8F2F5;
	border-left: 4px solid #2ea2cc;
}

.gmw-license-error-wrapper {
	position: absolute;
	width: 100%;
	top: 0;
	left: -5px;
	max-width: 299px;
	padding: 5px 5px 5px 15px;
	background: rgb(255, 228, 228);
	color: #BC1A1A;
	opacity: 0.98;
	float: left;
	height: 36px;
	border-top: 1px solid rgb(255, 202, 202);
	border-bottom: 2px solid rgb(255, 202, 202);
	border-right: 1px solid rgb(255, 202, 202);
	font-size: 12px;
}

.gmw-addon-deactivate {
	background: #FDEFEF;
	border-left: 4px solid red;
}

.gmw-addon-require-wrapper {
	position: absolute;
	width: 100%;
	background: white;
	display: none;
	opacity: 0.9;
	left: 0;
	height: 100%;
	top: 0px;
	padding: 7px;
}

.gmw-license-valid {
	border-left: 4px solid #37C42A;
	background: #E9F5E8;
}

input.gmw-addon-short-input {
	width: 100% !important;
	max-width: 268px;
	height: 28px !important;
	padding: 1px 5px 0px !important;
}

.mandatory {
	border: 1px solid rgb(252, 165, 165) !important;
}

input.regular-text {
	width: initial;
}

.remove-license-button {
	background: white;
	border-radius: 20px;
	padding: 2px 7px;
	color: #888;
	font-weight: bold;
	border: 1px solid #dcdcdc;
	cursor: pointer;
}

.gmw-addon-top-wrapper {
	position: relative;
}

.gmw-addon-activation-btn {
	float: right;
}

.gmw-addon-activate-btn,.gmw-addon-deactivate-btn {
	position: absolute;
	top: 0;
	right: 0;
	margin: 10px !important;
}

.gmw-addon-top-wrapper title {
	display: block;
}

.gmw-nav-tab {
	float: left;
	color: #333;
	text-transform: capitalize;
	background-color: #f7f7f7;
	font-size: 14px;
	padding: 12px 10px;
	font-weight: bold;
	text-shadow: 1px 1px 5px white;
	text-transform: capitalize;
	margin: 0px 2px
}

.gmw-nav-tab:link,.gmw-nav-tab:hover {
	color: #333;
}

.gmw-tabs-table {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border: 1px solid #eee !important;
}