/**
 * Styles for GEO my WP blocks in the block editor page.
 */
.gmw-block-editor-header-wrapper {
	max-width: 650px;
	margin-left: auto !important;
	margin-right: auto !important;
}

.gmw-block-editor-header-wrapper h3 {
	margin-bottom: 10px ! important;
	margin-top: 30px;
}

.gmw-block-editor-element-divider {
	border-top: 3px dashed #ddd;
    margin: 80px 0 50px 0 ! important;
    padding: 0 50px;
}

.gmw-area-container-wrapper {
	border: 3px dashed #ddd;
	box-sizing: border-box;
}

.gmw-block-panel .components-base-control,
.gmw-block-panel .components-input-control,
.gmw-block-panel .components-number-control {
	width: 100% ! important;
}

.gmw-block-panel .components-base-control select[multiple] {
	min-height: 100px ! important;
}

div[class^='wp-block-gmw-'],
div[class*=' wp-block-gmw-'],
div[class^='wp-block-geomywp-'],
div[class*=' wp-block-geomywp-'] {
    position:relative;
}

/*div[class^='wp-block-gmw-']:before,
div[class*=' wp-block-gmw-']:before,
div[class^='wp-block-geomywp-']:not( .wp-block-geomywp-form-container ):not( .wp-block-geomywp-modal-box ):before,
div[class*=' wp-block-geomywp-']:not( .wp-block-geomywp-form-container ):not( .wp-block-geomywp-modal-box ):before {
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    z-index: 9;
}*/

.wp-block.gmw-block-access-disabled {
	position:relative;
}

.wp-block.gmw-block-access-disabled:before {
	content: '';
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    z-index: 9;
}

/*div[class^='wp-block-gmw-'] div.gmw-map-loader:before,
div[class*=' wp-block-gmw-'] div.gmw-map-loader:before {
	content: "\f279" ! important;
	animation: none !important;
	-moz-animation: none !important;
	-o-animation: spin none !important;
	-webkit-animation: none !important;
	color: #bebebe;
	font-size: 40px;
	top: calc(50% - 20px);
	left: calc(50% - 20px);
}*/

div[class^='wp-block-gmw-'] div.gmw-map-loader,
div[class*=' wp-block-gmw-'] div.gmw-map-loader,
div[class^='wp-block-geomywp-'] div.gmw-map-loader,
div[class*=' wp-block-geomywp-'] div.gmw-map-loader {
	display: none ! important;
}

div[class^='wp-block-gmw-'] .gmw-map-wrapper .gmw-map,
div[class*=' wp-block-gmw-'] .gmw-map-wrapper .gmw-map,
div[class^='wp-block-geomywp-'] .gmw-map-wrapper .gmw-map,
div[class*=' wp-block-geomywp-'] .gmw-map-wrapper .gmw-map {
	background: #f7f7f7;
}

div[class^='wp-block-gmw-'] .gmw-map-wrapper .gmw-map:before,
div[class*=' wp-block-gmw-'] .gmw-map-wrapper .gmw-map:before,
div[class^='wp-block-geomywp-'] .gmw-map-wrapper .gmw-map:before,
div[class*=' wp-block-geomywp-'] .gmw-map-wrapper .gmw-map:before {
	font-family: geo-my-wp;
	font-style: normal;
	font-weight: 400;
	speak: none;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f279" ! important;
	display: inline-block;
	position: absolute;
	z-index: 2;
    color: #bebebe;
	font-size: 40px;
	top: calc(50% - 30px);
	left: calc(50% - 20px);
}

.gmw-block-editor-form-field-hidden {
	background: white;
	border: 1px dashed #dedede;
	padding: 12px 15px;
	box-shadow: 0 2px 1px rgba(28,31,63,.0634624);
	border-radius: 5px;
}

.gmw-block-editor-form-field-hidden input {
	border: 1px solid #ededed ! important;
	box-shadow: none ! important;
}


/*.block-editor-block-types-list__list-item [class*='form-filter/keywords'] {
    position: relative;
}


.block-editor-block-types-list__list-item [class*='form-filter/keywords']:after,
.block-editor-block-types-list__list-item [class*='form-filter/keywords']:hover:after {
     content: "premium"!important;
     position: absolute;
     z-index: 9999;
     top: 0;
     right: auto;
     background: #4699E8;
     color: #fff;
     padding: 4px 7px 5px 7px;
     font-size: 11px;
     border-bottom-left-radius: 4px;
     font-weight: 300;
     border-bottom-right-radius:4px;
     left: 23px;
}*/
