/** GEO my WP admin stylesheet */
#toplevel_page_gmw-add-ons .wp-menu-image::before {
	content: "\f230" !important;
	color: rgb(179, 223, 193) !important;
}

.gmw-helpful-links-wrapper {
	display: block;
	margin-top: 10px;
}

.gmw-helpful-links-wrapper a {
	font-size:12px !important;
}

.gmw-helpful-links-wrapper a i {
	margin-right:4px;
}

a.gmw-donate {
	font-size: 11px !important;
	padding: 5px 7px !important;
	height: 25px !important;
	line-height: 13px !important;
	vertical-align: middle !important;
	margin-left:5px;
}

.gmw-wrap-top-h2 {
	margin-bottom: 20px !important;
}

.gmw-nav-tab-wrapper {
	background:none;
	border:0px;
}

div.gmw-settings-panel {
	margin-top: -4px;
}

div.gmw-tabs-table {
	background:none;
	border:0px;
}

.gmw-edit-form-page-top-tabs {
	padding:3px;
}

.gmw-edit-form-page-top-tabs span.gmw-nav-tab {
	border:1px solid #e5e5e5;
	padding:10px;
	background: #f7f7f7;
	margin:0px 1px;
}

/********** Widgets **********/

.gmw-widget-wrapper p {
	//border-bottom: 1px solid #dedede;
	//padding-bottom: 10px;
	//margin-bottom: 20px
}

.gmw-widget-wrapper em {
	font-size:12px;
	color:#777;
	display:block;
	margin:5px 0px;
}

.gmw-widget-wrapper label {
	//margin-bottom: 3px;
	//display: inline-block;
}

.gmw-widget-wrapper select {
	width:100%;
}

.gmw-widget-wrapper .gmw-message-box {
	padding:8px 8px;
	background: rgba(173, 216, 230, 0.33);
	box-sizing: border-box;
	border:1px solid rgba(173, 216, 230, 0.63);
	border-radius: 5px;
}

/********** form editor Page **********/

.gmw-form-details-panel table tbody tr td.gmw-form-feature-desc {
	background: #f9f9f9;
	border-right: 1px solid #E1E1E1;
	width: 15%;
	border-bottom: 1px solid #eee;
	padding: 13px 15px 5px 15px;
}

.gmw-form-details-panel table tbody tr td.gmw-form-feature-desc label {
	display: block;
	line-height: 1.4em;
	font-weight: bold;
	padding: 0;
	margin: 0 0 3px;
	color: #333;
	margin-bottom:8px
}

.gmw-form-details-panel table tbody tr td.gmw-form-feature-settings {
	border-bottom: 1px solid #eee;
	padding: 13px 15px;
	width:85%;
}


.gmw-settings-panel table tbody tr td.gmw-form-feature-settings {
	border-bottom: 1px solid #eee;
	padding: 13px 15px;
	width:76%;
}

.gmw-settings-panel table tbody tr td.gmw-form-feature-desc {
	background: #f9f9f9;
	border-right: 1px solid #E1E1E1;
	width: 24%;
	padding: 13px 15px;
	border-bottom: 1px solid #eee;
}

.gmw-settings-panel table tbody tr td.gmw-form-feature-desc label {
	display: block;
	font-size: 13px;
	line-height: 1.4em;
	font-weight: bold;
	padding: 0;
	margin: 0 0 3px;
	color: #333;
	margin-bottom:8px
}

.gmw-settings-panel table tbody tr td.gmw-form-feature-settings input[type="radio"] {
	//display:block;
	//margin-bottom:5px;
}

.gmw-settings-panel table tbody tr td.gmw-form-feature-settings input[type="text"] {
	//min-width:250px;
}

.gmw-settings-panel label {
	//text-transform: lowercase;
}

.gmw-settings-panel label:first-letter {
	text-transform: capitalize;
}
/********** Add-ons Page **********/

div.gmw-addons-page-top-area {
	width: 100%;
	margin: 0 10px 10px 0;
	background: #fdfdfd;
	border: 1px solid #ddd;
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.10);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.10);
	box-shadow: 0 0 5px rgba(0,0,0,0.10);
	display: inline-block;
	vertical-align: top;
	padding:15px;
	box-sizing: border-box;
	border-left: 4px solid lightsalmon;
	
}

div.gmw-addons-page-top-area.updater-disabled {
	border-left: 4px solid #dd3d36;
}

div.gmw-addons-page-top-area.updater-enabled {
	border-left: 4px solid #7ad03a;
}

li.gmw-single-addon-wrapper {
	width: 290px;
	margin: 0 10px 10px 0;
	background: #fdfdfd;
	border: 1px solid #ddd;
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.10);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.10);
	box-shadow: 0 0 5px rgba(0,0,0,0.10);
	display: inline-block;
	vertical-align: top;
	overflow:hidden;
	position:relative;
}

.gmw-ribbon-wrapper {
  	width: 120px;
	height: 140px;
	overflow: hidden;
	position: absolute;
	top: -3px;
	right: -3px;
	z-index:1;
}

.gmw-ribbon {
  	font: bold 15px Sans-Serif;
	color: #333;
	text-align: center;
	text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
	-webkit-transform: rotate(45deg);
	-moz-transform:    rotate(45deg);
	-ms-transform:     rotate(45deg);
	-o-transform:      rotate(45deg);
	position: relative;
	padding: 7px 0;
	left: -25px;
	top: 35px;
	width: 190px;
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	-moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
	box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
	font-size: 14px;
}

.gmw-ribbon.red  {

    background: #e73827;
    background-image: -ms-linear-gradient(top, #f85032 0%, #F16F5C 50%, #F6290C 51%, #F02F17 71%, #e73827 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #f85032 0%, #F16F5C 50%, #F6290C 51%, #F02F17 71%, #e73827 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #f85032 0%, #F16F5C 50%, #F6290C 51%, #F02F17 71%, #e73827 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f85032), color-stop(50, #F16F5C), color-stop(51, #F6290C), color-stop(71, #F02F17), color-stop(100, #e73827));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #f85032 0%, #F16F5C 50%, #F6290C 51%, #F02F17 71%, #e73827 100%);

	/* W3C Markup */ 
	background-image: linear-gradient(to bottom, #f85032 0%, #F16F5C 50%, #F6290C 51%, #F02F17 71%, #e73827 100%);
    color:white;
    font-weight: 500;
}

.gmw-ribbon.green  {

    background: rgba(171,189,115,1);
    background-image: -ms-linear-gradient(top, rgba(200,209,168,1) 0%, rgba(171,189,115,1) 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top, rgba(200,209,168,1) 0%, rgba(171,189,115,1) 100%);

    /* Opera */ 
    background-image: -o-linear-gradient(top, rgba(200,209,168,1) 0%, rgba(171,189,115,1) 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(200,209,168,1)), color-stop(100, rgba(171,189,115,1)));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top, rgba(200,209,168,1) 0%, rgba(171,189,115,1) 100%);

    /* W3C Markup */ 
    background-image: linear-gradient(to bottom, rgba(200,209,168,1) 0%, rgba(171,189,115,1) 100%);
    color:white;
    font-weight: 500;
}

.gmw-ribbon.free  {

    background: rgba(171,189,115,1);
    background-image: -ms-linear-gradient(top, rgba(200,209,168,1) 0%, rgba(171,189,115,1) 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top, rgba(200,209,168,1) 0%, rgba(171,189,115,1) 100%);

    /* Opera */ 
    background-image: -o-linear-gradient(top, rgba(200,209,168,1) 0%, rgba(171,189,115,1) 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(200,209,168,1)), color-stop(100, rgba(171,189,115,1)));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top, rgba(200,209,168,1) 0%, rgba(171,189,115,1) 100%);

    /* W3C Markup */ 
    background-image: linear-gradient(to bottom, rgba(200,209,168,1) 0%, rgba(171,189,115,1) 100%);
    color:white;
    font-weight: 500;
    left: -15px;
	top: 27px;
}

.gmw-ribbon.blue  {
    /* IE10+ */ 
    background: rgba(99,147,193,1);
    /* IE10+ */ 
    background-image: -ms-linear-gradient(top, rgba(117,175,230,1) 0%, rgba(99,147,193,1) 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top, rgba(117,175,230,1) 0%, rgba(99,147,193,1) 100%);

    /* Opera */ 
    background-image: -o-linear-gradient(top, rgba(117,175,230,1) 0%, rgba(99,147,193,1) 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(117,175,230,1)), color-stop(100, rgba(99,147,193,1)));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top, rgba(117,175,230,1) 0%, rgba(99,147,193,1) 100%);

    /* W3C Markup */ 
    background-image: linear-gradient(to top, rgba(117,175,230,1) 0%, rgba(99,147,193,1) 100%);
    color:white;
    font-weight: 500;
    left: -15px;
	top: 27px;
}

.gmw-addons-page-top-buttons {
	padding: 8px 7px;
	margin-top: -1px;
	float: left;
	margin-right: 7px;
	font-size: 14px;
	color: #333;
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
	margin-bottom: 15px;
}

.gmw-addon-license-wrapper {
	border-top: 1px solid #e5e5e5;
	box-sizing: border-box;
	height:40px;
	margin:0 2px 2px;
	padding:5px;
}

h2.gmw-addon-title {
	padding: 10px;
	font-size: 14px;
	text-align: center;
	line-height: 20px;
}

div.gmw-addon-image-wrapper {
	padding: 3px;
	max-height: 162px;
	overflow: hidden;
}

.gmw-addon-image-wrapper img {
	width: 100%;
	height: auto;
	margin:0px;
	padding: 0px;
}

.gmw-addon-content-wrapper {
	border-top: 1px solid #e6e6e6;
	background-color:#fafafa;
	font-size: 12px
}

div.gmw-addon-desc-wrapper {
	min-height: 30px;
	top: 10px;
	color: #555;
	font-size: 12px;
	border-top: 1px solid #e1e1e1;
}

.gmw-single-addon-wrapper  div.gmw-addon-desc-wrapper {
	height:85px;
	overflow:hidden;
}

div.gmw-addon-desc-inner {
	padding: 10px 10px 0px;
	height: 85px;
	box-sizing: border-box;
	display: block;
	position: relative;
}

.gmw-single-addon-wrapper  div.gmw-addon-update-required-wrapper,
.gmw-single-addon-wrapper  div.gmw-addon-update-available-wrapper{
	padding: 1px 10px;
	color: #555;
	font-size: 12px;
	border-top: 1px solid #e1e1e1;
	background: red;
	color:white;
	font-size: 11px;
	margin:0px 1px;
	box-sizing: border-box;
	position: absolute;
	bottom: 0px;
	max-height: 100px;
	left: 0;
}

.gmw-single-addon-wrapper  div.gmw-addon-update-available-wrapper {
	background: rgba(171,189,115,1);
}

.gmw-addon-activate {
	background: #c3f5c3;
	border:1px solid  #93f58d;
}

.gmw-single-addon-wrapper .gmw-license-wrapper .dashicons-admin-network {
	display:none !important;
}

.gmw-license-error-wrapper {
	position: absolute;
	width: 100%;
	top: 0;
	left: -5px;
	max-width: 299px;
	padding: 5px 5px 5px 15px;
	background: rgb(255, 228, 228);
	color: #BC1A1A;
	opacity: 0.98;
	float: left;
	height: 36px;
	border-top: 1px solid rgb(255, 202, 202);
	border-bottom: 2px solid rgb(255, 202, 202);
	border-right: 1px solid rgb(255, 202, 202);
	font-size: 12px;
}

div.gmw-addon-license-wrapper.gmw-license-invalid.gmw-addon-deactivate {
	border: 1px solid rgba(80, 119, 157, 1);;
	background: rgba(99,147,193,1);
}

div.gmw-addon-license-wrapper.gmw-license-invalid.not-installed {
	background: #ffa8ab;
	border: 1px solid #ff9191
}

div.gmw-addon-license-wrapper.gmw-license-invalid.gmw-addon-uninstalled {
	background:#f1f1f1;
	border: 1px solid #e3e3e3;
}

.gmw-addon-require-wrapper {
	position: absolute;
	width: 100%;
	background: white;
	display: none;
	opacity: 0.9;
	left: 0;
	height: 100%;
	top: 0px;
	padding: 7px;
}

.gmw-license-valid {
	border-left: 4px solid #37C42A;
	background: #E9F5E8;
}

input.gmw-addon-short-input {
	width: 100% !important;
	max-width: 268px;
	height: 28px !important;
	padding: 1px 5px 0px !important;
	//margin:3px 0px 3px -2px;
}

.mandatory {
	border: 1px solid rgb(252, 165, 165) !important;
}

input.regular-text {
	width: initial;
}

.remove-license-button {
	background: white;
	border-radius: 20px;
	padding: 2px 7px;
	color: #888;
	font-weight: bold;
	border: 1px solid #dcdcdc;
	cursor: pointer;
}

.gmw-addon-top-wrapper {
	position: relative;
}

.gmw-addon-activation-btn {
	float: right;
}

.gmw-addon-activate-btn,.gmw-addon-deactivate-btn {
	position: absolute;
	top: 0;
	right: 0;
	margin: 10px !important;
}

.gmw-addon-top-wrapper title {
	display: block;
}

.gmw-nav-tab-wrapper {
	padding:0px !important;
	//border-left: 4px solid #7ad03a;
	padding-left:0px;	
}

.gmw-nav-tab {
	color: #333;
	text-transform: capitalize;
	background-color: #f7f7f7;
	font-size: 14px;
	padding: 12px 10px;
	font-weight: bold;
	text-shadow: 1px 1px 5px white;
	text-transform: capitalize;
	margin: 0px 2px;
	display: inline-block;
}

.gmw-nav-tab:link,.gmw-nav-tab:hover {
	color: #333;
	text-decoration:none;
}

.gmw-tabs-table {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.gmw-tabs-table .gmw-nav-tab {
	margin:2px 2px;
	padding: 12px;
	border:1px solid #e5e5e5;
	font-size: 14px;
	height:18px;
}

.gmw-nav-tab-wrapper .gmw-nav-tab-active {
	border-bottom:0px;
	background:white !important;
	height:20px;
}

table.gmw-saf-table {
	width:100%;
}

table.gmw-cf-holder tr th, table.gmw-saf-table tr th {
	background: #C2D7EF;
	padding:5px;
	text-align:center;
	font-size:12px;
}

table.gmw-cf-holder tr td, table.gmw-saf-table tr td{
	border:1px solid #bbb;
	font-size:12px;
	padding:10px;
}

#taxonomies-wrapper .taxonomy-wrapper {
	margin-bottom:10px
}

table.gmw-saf-table .table-within {
	background: #ddd;
}


table.gmw-cf-holder tr td, table.gmw-saf-table tr td p {
	font-size:12px;
}

#gmw-form-page-usage-wrpper span.usage-title {
	width:100%;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;
	background: white;
	border: 1px solid #e5e5e5;
	padding:10px 0px;
	text-align: center;
	display: inline-block;
}

#usage-table-wrapper {
	display:none;
	margin-top:5px;
}

#form-usage-trigger {
	background-color: #D8F7D2;
	float:right;
	cursor: pointer;
}

#form-name-wrapper {
	padding:0px;
	//border-left: 4px solid #7ad03a;
	padding-left:0px;
	border:0px;
}

#form-name-wrapper input[type="text"] {
	padding:5px;
	margin:0px;
	vertical-align: initial;
	font-size: 12px;
	color:#777;
	margin-left: 5px;
	font-weight: normal;
	width:200px;
}

#form-name-wrapper .button-primary {
	vertical-align: initial;
	margin-left:10px
}

#gmw-form-page-usage-wrpper span.usage-title a {
	font-size:10px;
}

/** license handlare **/

.gmw-license-key-addon-wrapper td,
.gmw-license-key-addon-wrapper th {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

tr.gmw-license-key-wrapper td {
	border-left:4px solid #2ea2cc !important;
}

tr.gmw-license-key-wrapper td.plugin-title,
tr.gmw-license-key-wrapper td.column-description {
	border:0px !important;
}

.gmw-license-key-wrapper.update td {
	border-left:4px solid #d54e21 !important;
}

.gmw-single-addon-wrapper .gmw-license-key-wrapper td {
	border-left:0px !important;
	padding:0px;
} 

.gmw-single-addon-wrapper .gmw-license-key-fields-wrapper {
	padding:0px;
}

.gmw-license-valid-wrapper {
	padding:5px 10px;
	background:#E9F5E8;
	border:1px solid #CDF1CA;
}

.gmw-license-invalid-wrapper {
	padding:5px 10px;
	background:#f1f1f1;
	border:1px solid #e5e5e5
}

.gmw-single-addon-wrapper .gmw-license-wrapper {
	padding:5px 7px;
	height: 160px;
}

.gmw-single-addon-wrapper .gmw-license-wrapper {
	padding:5px 7px;
	height: 160px !important;
}

.gmw-single-addon-wrapper.posts .gmw-license-wrapper,
.gmw-single-addon-wrapper.friends .gmw-license-wrapper {
	height: 155px;
}

.gmw-single-addon-wrapper .gmw-license-wrapper span {
	//display: block;
	margin:0px 2px;
}

.gmw-single-addon-wrapper .gmw-license-wrapper .button-secondary {
	margin: 2px 0 3px -2px;
}

.gmw-single-addon-wrapper input.gmw-license-key-input-field {
	margin:3px 0px 3px -2px;
}

div.gmw-license-wrapper.gmw-license-invalid-wrapper.addon-deactivated {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  	filter: alpha(opacity=50);
  	-moz-opacity: 0.5;
  	-khtml-opacity: 0.5;
  	opacity: 0.5;
  	border:1px solid #e5e5e5;
}

.gmw-license-error {
	background:rgb(255, 237, 237);	
	border:1px solid rgb(249, 214, 214);
}

.row-actions.visible .deactivate {
	color:rgb(204, 85, 85) !important;
}

/* tools page */
.gmw-tools-pt-locations-table {
	
	
}

.gmw-tools-pt-locations-table td.check-column,
.gmw-tools-pt-locations-table th.check-column {
	
}

.gmw-tools-pt-locations-table td.location-id.location-ok {
	border-left:2px solid #7ad03a;	
	color:#59982b;	
}

.gmw-tools-pt-locations-table td.location-id.location-error {
	border-left:2px solid red;
	color:red;
}

.gmw-tools-pt-locations-table tr th,
.gmw-tools-pt-locations-table tr td {
	border-right: 1px solid #efefef;
	text-align: center;
	padding:10px 5px !important;	
}

/* locations manager */

.tablenav-pages.gmw-tools-pt-locations-manager-pagination {
	float: right;
	display: block;
	cursor: default;
	height: 30px;
	color: #555;
	line-height: 30px;
	font-size: 12px;
}

.gmw-locations-filter-wrapper {
	float:left;
	height:30px;
	line-height: 30px;
	padding:12px 0px;
	margin-right:10px;
}

.tablenav-pages.gmw-tools-pt-locations-manager-pagination .displaying-num,
.gmw-locations-filter-wrapper span {
	margin-right: 2px;
	color: #777;
	font-size: 14px;
	font-style: italic;
}

.tablenav-pages.gmw-tools-pt-locations-manager-pagination li {
	display:inline-block;
	margin:0px 2px
}

.tablenav-pages.gmw-tools-pt-locations-manager-pagination a {
	padding: 0 10px 3px;
	background: #eee;
	background: rgba(0,0,0,.05);
	font-size: 14px;
	font-weight: 400;
	text-decoration:none;
}

.tablenav-pages.gmw-tools-pt-locations-manager-pagination .current {
	color: #aaa;
	background: #eee;
	background: rgba(0,0,0,.05);
}

/* import export */

.gmw-tools.metabox-holder  h3 {
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
	background:#fafafa;
}

.gmw-tools.metabox-holder .gmw-tools-tab-content .inside form span {
	display:block !important;
	margin-bottom: 3px;	
}

.gmw-tools.metabox-holder .gmw-import-export-page-tab-wrapper .inside-top h3 {
	background:#f1f5fa;
	font-size: 16px;
}

.gmw-import-export-page-tab-wrapper {
	background:white;
	padding:10px;
	border:1px solid #e5e5e5;
}

tr.gmw-sponsored-credit {
	background-color: #D8F7D2;
}

tr.gmw-sponsored-credit td {
	font-size: 12px;
	font-style: italic;
	color: #666;
	border-bottom: 1px solid #c6e3c1;
	border-top: 1px solid #c6e3c1;
}

.taxonomies-picker-wrapper {
	min-height:230px;
	clear:both;
	display:block;
}

.taxonomies-picker-wrapper .chosen-container .chosen-results {
	max-height:150px;
}

